Data Types and Structures Questions

1. What are data structures, and why are they important?
   
Ans: Data structures store and organize data efficiently so it can be accessed and modified quickly.

2.  Explain the difference between mutable and immutable data types with examples
   
Ans: Mutable types (like lists) can be changed. Immutable types (like strings, tuples) cannot.

3.  Explain the difference between mutable and immutable data types with examples
   
Ans: Lists are mutable and use [], while tuples are immutable and use ().

4. Describe how dictionaries store data
   
Ans: Dictionaries store data as key-value pairs.

5. Why might you use a set instead of a list in Python
   
Ans: Sets remove duplicates and offer faster lookups.

6. What is a string in Python, and how is it different from a list
   
Ans: A string is a sequence of characters (immutable), while a list can hold any data types and is mutable.

7.  How do tuples ensure data integrity in Python
   
Ans: Tuples can't be changed, so stored data stays safe.

8. What is a hash table, and how does it relate to dictionaries in Python


Ans: A hash table maps keys to values. Python dictionaries use hash tables internally.

9.  Can lists contain different data types in Python
    
Ans: Yes, lists can hold different types of data.

10. Explain why strings are immutable in Python
    
Ans: It saves memory and makes strings safe for hashing.

11. What advantages do dictionaries offer over lists for certain tasks
    
Ans: Faster lookups using keys, better for key-value data.

12.  Describe a scenario where using a tuple would be preferable over a list
    
Ans: When you need fixed data, like coordinates or days of the week.

13.  How do sets handle duplicate values in Python
    
Ans: Sets automatically remove duplicates.

14.  How does the “in” keyword work differently for lists and dictionaries
    
Ans: In lists, it checks values; in dictionaries, it checks keys.

15. Can you modify the elements of a tuple? Explain why or why not
    
Ans: No, tuples are immutable.

16. What is a nested dictionary, and give an example of its use case
    
Ans: A dictionary inside another. Used for structured data, like storing student info.

17. Describe the time complexity of accessing elements in a dictionary
    
Ans: On average, O(1) — constant time.

18. In what situations are lists preferred over dictionaries
    
Ans: When order matters or no key-value pairs are needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval
    
Ans: Keys don't follow insertion order. So, no guaranteed order in retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    
Ans: Lists use index positions; dictionaries use keys.

Practical Questions

1. Write a code to create a string with your name and print it.

In [3]:
name = "Samarth"
print(name)

Samarth

2. Write a code to find the length of the string "Hello World".

In [11]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [18]:
a = "Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [21]:
"hello".upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [28]:
b = "I like apple"
new_txt = b.replace("apple", "orange")
print(new_txt)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [32]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [35]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [39]:
list1.remove(3)
print(list1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [42]:
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [51]:
list4 =  [10, 20, 30, 40, 50]
print(list4[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [56]:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [59]:
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [64]:
tuple3 = (10, 20, 5, 15)
print(min(tuple3))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [67]:
tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [75]:
tuple5 = ('apple', 'orange', 'banana')
if "kiwi" in tuple5:
    print("Kiwi is available")
else:
    print("kiwi is not available")

kiwi is not available

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [80]:
set1 = {"a", "b", "c"}
print(set1)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [89]:
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [96]:
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [99]:
setA = {1,2,3}
setB = {3,4,5}
set_union = setA | setB
print(set_union)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [102]:
setA = {1,2,3}
setB = {2,3,4}
set_inter = setA & setB
print(set_inter)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [113]:
dict1 = {"name": "Samart", "age": 35, "city": "Faridabad"}
print(dict1)
print(type(dict1))

{'name': 'Samart', 'age': 35, 'city': 'Faridabad'}
<class 'dict'>

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [116]:
dict2 = {
    "name": "John",
    "age": 25
}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [119]:
dict3 = {
    "name": "Alice",
    "age": 30    
}
print(dict3["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [124]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
print(dict4)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [129]:
dict5 = {
    "name": "Alice",
    "city": "Paris"
}
print("city" in dict5)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [132]:
list1 = [1,2, "Tinku", 4.6, 2+4j]
tuple1 = (1,2,"sam")
dict1 = {
    "name": "Tinku",
    "age": 35
}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 'Tinku', 4.6, (2+4j)]
(1, 2, 'sam')
{'name': 'Tinku', 'age': 35}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [139]:
list2 = [12, 24, 22, 31, 5]
print(sorted(list2))

[5, 12, 22, 24, 31]

28. Write a code to create a list with strings and print the element at the third index.

In [146]:
str1 = "This is my project"
list_new = str1.split(" ")
print(list_new)
print(type(list_new))
print(list_new[2])

['This', 'is', 'my', 'project']
<class 'list'>
my

29. Write a code to combine two dictionaries into one and print the result.

In [151]:
dict1 = {
    "name": "Alice",
    "city": "Paris"
}
dict2 = {
    "Sex": "Male",
    "age": 35
}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'city': 'Paris', 'Sex': 'Male', 'age': 35}

30. Write a code to convert a list of strings into a set.

In [156]:
list_str = ['This', 'is', 'my', 'project']
set_new = set(list_str)
print(set_new)
print(type(set_new))

{'is', 'my', 'project', 'This'}
<class 'set'>

---------------------------------------END-------------------------------------